.blog-title {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  color: black;
  font-size: 40px;
  font-weight: normal;
  text-align: center;
}
.blog-title span:first-of-type {
  font-family: "Playfair Display SC", serif;
}
.blog-title span:nth-of-type(2) {
  font-family: "Fredericka the Great", cursive;
}
.blog-description {
  color: black;
  font-family: "Ranga", cursive;
  font-size: 30px;
  line-height: 30px;
  margin: 0;
  padding: 5px 0;
}
header {
  padding: 0 10px;
}
.entry-title {
  font-family: "Fredericka the Great", cursive;
}
